*{
    margin: 0;
    padding: 0;
}
body{
      background-color: rgb(50, 22, 70);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    background-color: rgb(28, 18, 51);
}
ul li {
    display: inline-block;
    
}
ul li a {
    text-decoration: none;
    color: white;
    
}
.blog h1{
    text-align: center;
}
.first{
    border:1px solid white;
    margin: 20px 400px 10px 150px;
}
 img{
    display: inline-block;
    width: 300px;
}
.first h3{
    color: white;
    display: inline-block;
    
}
h3{
    color: white;
    display: inline-block;
}
 p{
    color: white;
    
    
}
 a{
    color: rgba(255, 255, 255, 0.739);
    font-size:20px;
    text-decoration-line:none ;
    display: inline-block;
}
.second{
    border:1px solid white;
    margin: 20px 400px 5px 150px;
}
.third{
    border:1px solid white;
    margin: 20px 400px 5px 150px;
    
}
.hiring{
    border: 1px solid white;
    margin:0 ;

}
#hiring{
    color: white;
    border: 1px solid white;
    
}
a:hover{
    color: red;
}
#readmorehiring{
    display: block;
}
h5{
    color: white;
    display: inline-block;
}
.container{
    border: 1px solid white;
    float: right;
    width: 300px;
    height:600px;
    margin-right:20px ;
    margin-top: 80px;
    grid-column-start: 2;
    display: grid;
    
    
    
    
}
.container nav a {
    font-size: large;
    display: block;
    margin-bottom: 10px;
    margin-left: 100px;
    
}
.container nav a:nth-child(odd){
    background-color: rgb(156, 77, 137);
    
}







    